<div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body mt-8 pt-4">
          <div class="text-center">
            <h3>
              {{ profile.name }}
            </h3>
            
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ profile.city }}, {{ profile.state }}
            </div>
            
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{ profile.address }}
            </div>
            
            <hr class="my-4" />
            
            <p>{{ profile.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha Conta</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-success" (click)="saveProfile()">Salvar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="alertSuccess != ''" class="alert alert-success" role="alert">
            {{ alertSuccess }}
          </div>

          <div *ngIf="alertError != ''" class="alert alert-danger" role="alert">
            {{ alertError }}
          </div>

          <form [formGroup]="form">
            <h6 class="heading-small text-muted mb-4">Informações</h6>

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div *ngIf="getControl('name'); let control" class="form-group">
                    <label class="form-control-label">Nome</label>
                    <input type="text" class="form-control form-control-alternative" formControlName="name">
                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo <strong>Nome</strong>
                      é obrigatório</small>

                  </div>
                </div>

                <div class="col-lg-6">
                  <div *ngIf="getControl('email'); let control" class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control form-control-alternative" formControlName="email" disabled>
                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                      <strong>E-mail</strong> é obrigatório</small>

                  </div>
                </div>

                <div class="col-lg-6">
                  <div *ngIf="getControl('phone'); let control" class="form-group">
                    <label class="form-control-label">Telefone</label>
                    <input type="text" class="form-control form-control-alternative" formControlName="phone" mask="(00) 0000-00009">
                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                      <strong>Telefone</strong> é obrigatório</small>

                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">Informações para Contato</h6>

            <div class="pl-lg-4">

              <div class="row">
                <div class="col-md-12">
                  <div *ngIf="getControl('address'); let control" class="form-group">
                    <label class="form-control-label">Endereço</label>
                    <input class="form-control form-control-alternative" type="text" formControlName="address">
                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                      <strong>Endereço</strong> é obrigatório</small>

                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-4">
                  <div *ngIf="getControl('city'); let control" class="form-group">
                    <label class="form-control-label">Cidade</label>
                    <input type="text" class="form-control form-control-alternative" formControlName="city">
                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                      <strong>Cidade</strong> é obrigatório</small>

                  </div>
                </div>

                <div *ngIf="getControl('state'); let control" class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Estado</label>
                    <input type="text" class="form-control form-control-alternative" formControlName="state">
                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                      <strong>Estado</strong> é obrigatório</small>

                  </div>
                </div>

                <div class="col-lg-4">
                  <div *ngIf="getControl('zip'); let control" class="form-group">
                    <label class="form-control-label">CEP</label>
                    <input type="text" class="form-control form-control-alternative" formControlName="zip">
                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo <strong>CEP</strong>
                      é obrigatório</small>

                  </div>
                </div>

              </div>
            </div>

            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">Descrição</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Bio</label>
                <textarea rows="4" class="form-control form-control-alternative" formControlName="description">
                  </textarea>
              </div>
            </div>

            <hr class="my-4" />

          </form>

          <h6 class="heading-small text-muted mb-4">Links</h6>

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <select class="form-control form-control-alternative" [(ngModel)]="selectedOption">
                  <option selected disabled>Tipo de Link</option>
                  <option *ngFor="let option of options" [ngValue]="option">
                    <img src="{{option.image}}" alt=""> {{option.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="form-group">
                <div class="input-group input-group-alternative">
          
                  <div class="input-group-prepend">
                    <span class="input-group-text" *ngIf="selectedOption != null">
                      <img src="{{selectedOption.image}}" alt="" height="20">
                    </span>
                    <span class="input-group-text" *ngIf="selectedOption == null">
                      <img src="../../../../assets/img/icons/social/link.svg" alt="" height="20">
                    </span>
                  </div>

                  <input 
                  class="form-control" 
                  placeholder=" Insira o link" 
                  type="text" 
                  [(ngModel)]="link"
                  >

                </div>
              </div>
            </div>

            <div class="col-lg-2">
              <button class="btn btn-info" (click)="addLink()">Adicionar</button>
            </div>

            <div class="col-xl-12">
              <div class="card shadow">
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Link</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let link of links">
                        <th scope="row">
                          <span (click)="removeLink(link)" class="cursor-pointer">
                            <i class="ni ni-fat-remove text-danger" style="font-size: 26px;"></i>
                          </span>
                        </th>
                        <th scope="row">
                          <img src="{{ getSocialIcon(link.type) }}" alt="" height="20">
                        </th>
                        <td>
                          <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>