<div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="javascript:void(0)">
                            <img src="../../../../../assets/img/user-profile.svg" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="card-body mt-8 pt-4">
                <div class="text-center">
                    <h3>
                        {{ profile.name }}
                    </h3>

                    <small>{{ profile.phone | mask: '(00) 0000-00009' }}</small>

                    <div class="h5 font-weight-300" *ngIf="profile.city && profile.state">
                        <i class="ni location_pin mr-2"></i>{{ profile.city }}, {{ profile.state }}
                    </div>

                    <hr class="my-4" />

                    <p>{{ profile.description }}</p>

                    <hr class="my-4" />

                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-sm btn-primary" [routerLink]="['/user-profile']">Retornar ao Perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Minha Conta</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-sm btn-success" (click)="saveProfile()">Salvar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="alertSuccess != ''" class="alert alert-success" role="alert">
                    {{ alertSuccess }}
                </div>

                <div *ngIf="alertError != ''" class="alert alert-danger" role="alert">
                    {{ alertError }}
                </div>

                <form [formGroup]="form">
                    <h6 class="heading-small text-muted mb-4">Informações</h6>

                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div *ngIf="getControl('name'); let control" class="form-group">
                                    Nome
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="name">
                                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                        <strong>Nome</strong>
                                        é obrigatório</small>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div *ngIf="getControl('email'); let control" class="form-group">
                                    Email
                                    <input type="email" class="form-control form-control-alternative"
                                        formControlName="email" disabled>
                                    <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                        <strong>E-mail</strong> é obrigatório</small>

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4" />

                    <h6 class="heading-small text-muted mb-4">Informações para Contato</h6>

                    <div class="row pl-lg-4">

                        <div class="col-lg-4">
                            <div 
                            *ngIf="getControl('phone'); let control" 
                            class="form-group"
                            >
                                Telefone
                                <input 
                                type="text" 
                                class="form-control form-control-alternative"
                                formControlName="phone"
                                mask="(00) 0000-00009"
                                >
                                
                                <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                <strong>Telefone</strong> é obrigatório</small>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div *ngIf="getControl('city'); let control" class="form-group">
                              Cidade
                              <input type="text" class="form-control form-control-alternative" formControlName="city">
                              <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                <strong>Cidade</strong> é obrigatório</small>
            
                            </div>
                        </div>
            
                        <div *ngIf="getControl('state'); let control" class="col-lg-4">
                            <div class="form-group">
                                Estado
                                <input type="text" class="form-control form-control-alternative" formControlName="state">
                                <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                <strong>Estado</strong> é obrigatório</small>
            
                            </div>
                        </div>

                    </div>

                    <hr class="my-4" />

                    <h6 class="heading-small text-muted mb-4">Descrição</h6>

                    <div class="pl-lg-4">
                        <div class="form-group">
                            Bio
                            <textarea 
                            rows="4" 
                            class="form-control form-control-alternative"
                            formControlName="description"
                            >
                            </textarea>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>