<div class="card-body pt-0 pt-md-4">
    <div class="text-center">
      <h3>
        Jessica Jones<span class="font-weight-light">, 27</span>
      </h3>
      <div class="h5 font-weight-300">
        <i class="ni location_pin mr-2"></i>Bucharest, Romania
      </div>
      <div class="h5 mt-4">
        <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
      </div>
      <div>
        <i class="ni education_hat mr-2"></i>University of Computer Science
      </div>
      <hr class="my-4" />
      <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
      <a href="javascript:void(0)">Show more</a>
    </div>
  </div>