<div class="card-body pt-0 pt-md-4">
  <div class="text-center">
    <h3>
      {{ user.name }}<span class="font-weight-light"></span>
    </h3>

    
    <div class="h5 font-weight-300">
      <i class="ni location_pin mr-2"></i>{{ profile.city }}, {{ profile.state }}
    </div>
    
    <div class="d-flex justify-content-center mt-3">
      <div class="d-flex align-items-center mb-2 mr-3" *ngFor="let link of socialAccounts">
        <div *ngIf="link.type != 7">
          <a href="{{link.link}}" target="_blank" rel="noopener noreferrer">
            <img src="{{link.icon}}" alt="socialAccount" height="30">
          </a>
        </div>
      </div>
    </div>
    
    <div class="alert alert-default d-flex justify-content-between text-left mt-2" role="alert" *ngIf="organizationInfo && organizationInfo.isOrganizationApproved == false && showEditUser">
      <span>
        <img src="../../../../assets/img/icons/warning.svg" height="35" class="mr-2"> {{organizationInfo.disapprovalReason}}
      </span>
      <button type="button" class="btn btn-secondary btn-sm" (click)="validateOrganization(organizationInfo.organizationInfoId, user.documentNumber)">Validar novamente</button>
    </div>

    <hr class="my-4" />

    <p>{{ profile.description }}</p>

    <div class="d-flex flex-column mt-3">
      <div class="d-flex align-items-center mb-2 mr-3" *ngFor="let link of otherLinks; let i = index">
        <div *ngIf="link.type == 7 && (i === 0 || showLinks)">
          <a href="{{link.link}}" target="_blank" rel="noopener noreferrer" class="link-bio">
            <img src="{{link.icon}}" alt="socialAccount" height="20">
            <span> {{ link.link }}</span>
          </a>
        </div>
      </div>
    
      <small 
      *ngIf="otherLinks.length > 1" 
      class="text-left ml-3 cursor-pointer"
      (click)="toggleShowLinks()"
      >
        {{ showLinks ? 'Mostrar menos' : 'Mostrar mais...' }}
    </small>
    </div>
    

    <hr class="my-4" />

    <div class="d-flex justify-content-around">
      <div class="d-flex align-items-center mb-2">
        <img src="../../../../assets/img/icons/location.svg" alt="localização" height="20">
        <span class="ml-3">{{ profile.address }}</span>
      </div>
     
      <div class="d-flex align-items-center mb-2">
        <img src="../../../../assets/img/icons/phone.svg" alt="localização" height="20">
        <span class="ml-2">{{ profile.phone | mask:'(00) 0000-00009' }}</span>
      </div>
    </div>

  </div>
</div>