ul {
    list-style: none; /* Remove a bolinha */
    padding: 0; /* Remove o espaçamento padrão */
    margin: 0; /* Ajusta a margem */
}

.cursor-pointer {
    cursor: pointer;
}

::ng-deep .qrcode {
  border: 2px solid red;
}