<div class="header pb-3 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 250px; background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>
<div class="container-fluid mt--9">
    <div class="row justify-content-center">
        <div class="col-xl-10 order-xl-12 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <img height="150" src="../../../../assets/img/donation.svg" alt="Organização">
                        </div>
                    </div>
                </div>
                
                <div class="mt-4">
                    <div class="text-center mt-6 p-4">
                        <h2>Faça Sua Doação via Pix</h2>
                        
                        <div class="mb-5">
                            <span>Sua ajuda faz a diferença! Contribua de forma rápida e segura.</span> 
                        </div>

                        <div class="row" *ngIf="organizationInfo">
                            <div class="col-lg-6 text-left">
                                <h4>Escolha como doar:</h4>
                                
                                <ul>
                                    <li>📌 Copie a chave Pix abaixo e cole no seu app bancário.</li>
                                    <li>📌 Escaneie o QR Code com a câmera do seu banco.</li>
                                </ul>
                                
                                <ul class="mt-4">
                                    <li>👤 Nome: {{ organizationInfo.beneficiaryName }}</li>
                                    <li>🆔 Tipo de Chave: {{ getPixType(organizationInfo.pixType) }}</li>
                                </ul>

                                <small><strong class="text-warning mt-2">Atenção:</strong> Se os dados estiverem corretos <strong>,se o nome mostrado no PIX corresponde ao da Organização</strong>. Caso contrário, entre em contato com o destinatário antes de continuar.</small>
                            </div>

                            <div class="col-lg-6">
                                <ng-container *ngIf="getPixKeyMask(organizationInfo.pixType) as pixMask">
                                    <h3>
                                        🔑 Chave Pix: {{ organizationInfo.pixKey | mask: pixMask }} 
                                        <i class="fa fa-solid fa-copy cursor-pointer" 
                                        placement="top" 
                                        ngbTooltip="{{ textTooltip }}" 
                                        (click)="copiarPix(organizationInfo.pixKey)"
                                        (keydown.enter)="copiarPix(organizationInfo.pixKey)"
                                        (keydown.space)="copiarPix(organizationInfo.pixKey)"
                                        ></i>
                                    </h3>
                                </ng-container>
                                  
                                <img height="200" src="{{ organizationInfo?.donationQRCode?.qrcode_base64 }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around mt-3 mb-4">
                    <button class="btn btn-outline-default" type="button" [routerLink]="['/dashboard']">Retornar para Campanhas</button>
                </div>
            </div>

        </div>
    </div>
</div>