<div class="header pb-3 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 250px; background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>
<div class="container-fluid mt--9">
    <div class="row justify-content-center">
        <div class="col-xl-10 order-xl-12 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <img height="150" src="../../../../assets/img/donation.svg">
                        </div>
                    </div>
                </div>
                
                <div class="mt-4">
                    <div class="text-center mt-6 p-4">
                        <h2>Faça Sua Doação via Pix</h2>
                        
                        <div class="mb-5">
                            <span>Sua ajuda faz a diferença! Contribua de forma rápida e segura.</span> 
                        </div>

                        <div class="row">
                            <div class="col-lg-6 text-left">
                                <h4>Escolha como doar:</h4>
                                
                                <ul>
                                    <li>📌 Copie a chave Pix abaixo e cole no seu app bancário.</li>
                                    <li>📌 Escaneie o QR Code com a câmera do seu banco.</li>
                                </ul>
                                
                                <ul class="mt-4">
                                    <li>👤 Nome: Sabine Freiman</li>
                                    <li>🆔 Tipo de Chave: CPF</li>
                                </ul>
                            </div>

                            <div class="col-lg-6">
                                <h3 class="mt-4">🔑 Chave Pix: 520.970.458-11  <i class="fa fa-solid fa-copy"></i></h3>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around mt-3 mb-4">
                    <button class="btn btn-outline-default" type="button" [routerLink]="['/dashboard']">Retornar para Campanhas</button>
                </div>
            </div>

        </div>
    </div>
</div>