<div class="header pb-3 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 250px; background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-info opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row justify-content-center">
    <div class="col-xl-10 order-xl-12 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"></div>

        <app-organization-profile *ngIf="profileType == 1"></app-organization-profile>

        <app-donor-profile *ngIf="profileType == 2"></app-donor-profile>

        <app-volunteer-profile *ngIf="profileType == 3"></app-volunteer-profile>

      </div>
    </div>
  </div>
</div>
