<div class="content-login">
  <div class="row align-items-center justify-content-center w-100 h-100">
    <div class="card col-sm-10 col-md-8 col-lg-8 col-xl-6 pt-3 pb-3">
      <div class="bg-transparent d-flex justify-content-center">
        <img src="../../../../assets/img/logos/logo-vertical.png" alt="" height="200">
      </div>
    
      <div *ngIf="alertError != ''" class="alert alert-danger" role="alert">
        {{ alertError }}
      </div>

      <div class="px-lg-5 py-lg-3">
        <form [formGroup]="form">
          <div
          *ngIf="getControl('email'); let control"  
          class="form-group mb-3"
          >
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <input 
              class="form-control" 
              placeholder="Email" 
              type="email"
              formControlName="email"
              >
            </div>
            <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo <strong>E-mail</strong> é obrigatório</small>
          </div>

          <div
          *ngIf="getControl('password'); let control"  
          class="form-group"
          >
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input 
              class="form-control" 
              placeholder="Senha" 
              type="password"
              formControlName="password"
              >
            </div>
            <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo <strong>Senha</strong> é obrigatório</small>
          </div>

          <div class="text-center">
            <button type="button" class="btn btn-login my-4" (click)="login()">Entrar</button>
          </div>
        </form>

        <div class="d-flex w-100 justify-content-center align-items-center mb-3">
          <!-- <small class="font-weight-bold cursor-pointer">Recuperar senha</small> -->
          <small class="font-weight-bold cursor-pointer" [routerLink]="['/create-account']">Não possui conta? <strong>Criar uma conta</strong></small>
        </div>

      </div>
    </div>
  </div>
</div>