<div class="header pb-3 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 250px; background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>
<div class="container-fluid mt--8">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Editar Campanha</h3>
                        </div>

                        <div class="col-4 d-flex justify-content-end">
                            <div class="col-6 text-right mr-3">
                                <button class="btn btn-sm btn-danger" (click)="deleteCampaign(campaignId)">Deletar</button>
                            </div>

                            <div class="col-3 text-right">
                                <button class="btn btn-sm btn-success" (click)="updateCampaign()">Salvar</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="alertSuccess != ''" class="alert alert-success" role="alert">
                        {{ alertSuccess }}
                    </div>
    
                    <div *ngIf="alertError != ''" class="alert alert-danger" role="alert">
                        {{ alertError }}
                    </div>
    
                    <form [formGroup]="form">
    
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div *ngIf="getControl('title'); let control" class="form-group">
                                        <label class="form-control-label">Título</label>
                                        <input type="text" class="form-control form-control-alternative"
                                            formControlName="title">
                                        <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                            <strong>Título</strong>
                                            é obrigatório</small>
    
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div *ngIf="getControl('type'); let control" class="form-group">
                                        <label class="form-control-label">Tipo da Campanha</label>
                                        
                                        <select class="form-control form-control-alternative" formControlName="type">
                                            <option selected disabled>Insira um Tipo</option>
                                            <option *ngFor="let option of campaignType" [ngValue]="option.id">
                                              {{ option.label }}
                                            </option>
                                        </select>

                                        <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                            <strong>Tipo</strong>
                                            é obrigatório</small>
    
                                    </div>
                                </div>
    
                                <div class="col-lg-12">
                                    <div *ngIf="getControl('description'); let control" class="form-group">
                                        <label class="form-control-label">Descrição</label>
                                        <textarea rows="4" class="form-control form-control-alternative"
                                            formControlName="description">
                                        </textarea> 
                                        <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                            <strong>E-mail</strong> é obrigatório</small>
    
                                    </div>
                                </div>
    
                                <div class="col-lg-4">
                                    <div *ngIf="getControl('startDate'); let control" class="form-group">
                                        <label class="form-control-label">Data Início</label>
                                        <input type="datetime-local" class="form-control form-control-alternative"
                                            formControlName="startDate">
                                        <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                            <strong>Data Início</strong> é obrigatório</small>
    
                                    </div>
                                </div>
                                
                                <div class="col-lg-4">
                                    <div *ngIf="getControl('endDate'); let control" class="form-group">
                                        <label class="form-control-label">Data Fim</label>
                                        <input type="datetime-local" class="form-control form-control-alternative"
                                            formControlName="endDate">
                                        <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                            <strong>Data Fim</strong> é obrigatório</small>
    
                                    </div>
                                </div>
                                
                                <div class="col-lg-4">
                                    <div *ngIf="getControl('status'); let control" class="form-group">
                                        <label class="form-control-label">Status</label>
                                        
                                        <select class="form-control form-control-alternative" formControlName="status">
                                            <option selected disabled>Insira um Status</option>
                                            <option *ngFor="let option of campaignStatus" [ngValue]="option.id">
                                              {{ option.label }}
                                            </option>
                                        </select>
    
                                        <small class="text-danger" *ngIf="!control.untouched && control.invalid">Campo
                                            <strong>Status</strong> é obrigatório</small>
    
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div *ngIf="getControl('address'); let control" class="form-group">
                                      <label class="form-control-label">Endereço</label>
                                      <input class="form-control form-control-alternative" type="text" formControlName="address">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div *ngIf="getControl('city'); let control" class="form-group">
                                        <label class="form-control-label">Cidade</label>
                                        <input type="text" class="form-control form-control-alternative" formControlName="city">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Estado</label>
                                        <input type="text" class="form-control form-control-alternative" formControlName="state">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
    </div>
</div>