<div class="header bg-gradient-info pb-8 pt-5 pt-md-8" *ngIf="user.type == 1">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-12 order-xl-12 mb-5 mb-xl-0" *ngIf="campaigns.length > 0">
        <div *ngFor="let campaign of campaigns">
          <app-organization-campaign
          [campaign]="campaign"
          [profile]="campaign.user"
          ></app-organization-campaign>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header bg-gradient-info pb-8 pt-5 pt-md-8" *ngIf="user.type != 1">
  <div class="container-fluid">
    <div class="row justify-content-center">
      
    </div>
  </div>
</div>